.grid-100
    span.title  DEPOIMENTOS

.grid-container
    .grid-75.grid-alpha.hide-on-mobile
        .depoimento-grande  “Adoro! Fico sabendo de forma rápida os últimos acontecimentos.“

        .depoimento-origem  - GOOGLE PLAY

    .grid-25.grid-parent.hide-on-mobile
        .depoimento-pequeno  “É sempre bom poder estar por dentro de tudo que acontece.”

        .depoimento-origem  —  GOOGLE PLAY
.grid-container.grid-parent
    .grid-25.margin-top-30.grid-parent.hide-on-mobile
        .depoimento-pequeno  “É a minha principal fonte de informações. Recomendo!“

        .depoimento-origem  - APPLE APP STORE

    .grid-75.margin-top-30.mobile-grid-100
        .depoimento-grande  “Gosto muito! Adoro poder ler o jornal em qualquer parte do mundo.”

        .depoimento-origem  —  APPLE APP STORE
        
    .grid-25.grid-parent.mobile-grid-100.hide-on-desktop.hide-on-landscape.hide-on-portrait
        .depoimento-pequeno  “É sempre bom poder estar por dentro de tudo que acontece.”

        .depoimento-origem  —  GOOGLE PLAY
