section.footer
    .grid-container
        .grid-100.margin-bottom-20
            span.title  DÚVIDAS?
        .grid-100.margin-bottom-10
            span  Central de Relacionamento
        .grid-100
            span.telefones
                strong 4002-5300
                |  (capitais e grandes cidades)

        .grid-100.margin-top-5
            span.telefones
                strong 0800 021 8433
                |  (demais localidades)

        .grid-100.text-gray.margin-top-20
            div 2ª a 6ª: 6h30 às 19h
            div sáb, dom e feriados: 7h às 12h

        .grid-100.rodape-barra
            img(src="../../images/paywall/rodape_mobile.png")

        .grid-100.text-gray
            p Assinatura O GLOBO DIGITAL: pague apenas R$ 5,90/mês nos seis primeiros meses. Depois, pague R$ 14,90/mês. Aplicativo O GLOBO NOTÍCIAS disponível para smartphones compatíveis com os sistemas iOS (a partir da versão 8.1) e Android (a partir da versão 4.0.3). Ofertas válidas somente para novos assinantes e pessoa física. Pagamento somente no cartão de crédito ou débito em conta corrente. Cancele quando quiser através da nossa Central de Relacionamento.

            p.margin-top-20 Assinatura O GLOBO DIGITAL PREMIUM: pague apenas R$ 5,90/mês nos seis primeiros meses. Depois, pague R$ 14,90/mês. Aplicativo O GLOBO NOTÍCIAS disponível para smartphones compatíveis com os sistemas iOS (a partir da versão 8.1) e Android (a partir da versão 4.0.3). Ofertas válidas somente para novos assinantes e pessoa física. Pagamento somente no cartão de crédito ou débito em conta corrente. Cancele quando quiser através da nossa Central de Relacionamento.
        
        .grid-100.text-center.box-selos
            a(href="#")
                img(src="../../images/paywall/selo_certisign.png")
            a(href="#")
                img(src="../../images/paywall/selo_verisign.png")
