html, body {
    font-family: "Lato";
}

@import "base";
@import "partials/_header-paywall";
@import "partials/_plans-details";
@import "partials/_timeline";
@import "partials/_buttons";
@import "bootstrap/_label";

section.produtos {
    @include background-responsive('bg.png', 'paywall');
    height: 2250px;
}

.box-plans {
    margin-top: -90px;

    padding: 55px;

    background-color: #fff;

    border-radius: 3px;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.formas-pagamento {
    span {
        display: inline-block;
        margin-right: 10px;

        vertical-align: middle;
    }

    margin-top: 40px;

    font-size: 14px;

    color: #999999;
}

.subtitle {
    font-size: 64px;
    font-weight: 900;

    color: #244670;

    text-shadow: 0 2px 2px #fff;
}

.banner-premium {
    @include background-responsive('flip-bg.png', 'paywall');
    height: 600px;

    h3 {
        margin-top: 140px;

        font-size: 70px;
        font-weight: 300;

        font-style: italic;

        color: #B5C3CE;
    }

    img {
        margin-top: 160px;
    }
}

.box-gray {
    margin: 120px 0;

    background-color: #F2F2F2;

    border: 1px solid #DDDDDD;

    padding: 60px;

    h4 {
        font-size: 24px;
        line-height: 24px;

        font-weight: 400;

        color: #F7AC00;
    }

    p {
        font-size: 18px;
        line-height: 24px;
        color: #2A2C2E;
    }
}

.title {
    font-size: 24px;

    color: #1FAAFF;
}

.depoimento-grande {
    font-size: 48px;
    font-weight: 300;
    font-style: italic;
    line-height: 60px;

    color: #222;
}

.depoimento-pequeno {
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
    line-height: 39px;

    color: #222;
}

.depoimento-origem {
    margin-top: 15px;
    font-size: 14px;
    color: #999;
}

.blue {
    margin-top: 120px;
    margin-bottom: 120px;

    padding-top: 100px;
    padding-bottom: 100px;

    background-color: #E1ECF3;

    .subtitle {
        margin-bottom: 75px;
    }
}
