html, body {
    font-family: "Lato";
}

@import "base";
@import "partials/_header-paywall";
@import "partials/_plans-details";
@import "partials/_timeline";
@import "partials/_buttons";
@import "bootstrap/_label";

section.produtos {
    @include background-responsive('bg.png', 'paywall');
    height: 2150px;

    @include view (mobile) {
        background-image: none;
    }
}

.box-plans {
    margin-top: -90px;

    padding: 55px 35px;

    background-color: #fff;

    border-radius: 3px;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    @include mobile-view {
        margin-top: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }

    @include view (mobile) {
        background-color: transparent;
    }
}

.formas-pagamento {
    span {
        display: inline-block;
        margin-right: 10px;

        vertical-align: middle;

        @include view (mobile) {
            display: block;
            margin-right: 0;
        }
    }

    margin-top: 40px;

    font-size: 14px;

    color: #999999;
}

.subtitle {
    font-size: 64px;
    font-weight: 900;

    color: #244670;

    text-shadow: 0 2px 2px #fff;

    @include view (mobile) {
        font-size: 36px;
    }
}

.banner-premium {
    @include background-responsive('flip-bg.png', 'paywall');
    height: 600px;

    h3 {
        margin-top: 140px;

        font-size: 70px;
        font-weight: 300;

        font-style: italic;

        color: #B5C3CE;

        @include view (mobile) {
            font-size: 36px;
            margin-top: 10px;
            margin-left: 5px;
        }
    }

    img {
        margin-top: 160px;

        @include view (mobile) {
            max-width: 280px;
            text-align: center;
            margin-top: 40px;
            display: block;
            margin: 40px auto 0;

        }
    }
}

.box-gray {
    margin: 120px 0;

    background-color: #F2F2F2;

    border: 1px solid #DDDDDD;

    padding: 60px;

    h4 {
        font-size: 24px;
        line-height: 24px;

        font-weight: 400;

        color: #F7AC00;
    }

    p {
        font-size: 18px;
        line-height: 24px;
        color: #2A2C2E;
    }
}

.title {
    font-size: 24px;

    color: #1FAAFF;

    @include view (mobile) {
        display: inline-block;
        margin-top: 40px;
        padding: 0 15px;
        font-size: 21px;
    }
}

.depoimento-grande {
    padding: 0 15px;
    font-size: 48px;
    font-weight: 300;
    font-style: italic;
    line-height: 60px;

    color: #222;

    @include view(mobile) {
        font-size: 36px;
        line-height: 40px;
    }
}

.depoimento-pequeno {
    margin-top: 20px;
    padding: 0 15px;

    font-size: 28px;
    font-weight: 300;
    font-style: italic;
    line-height: 39px;

    color: #222;

    @include view(mobile) {
        font-size: 32px;
        line-height: 36px;
    }
}

.depoimento-origem {
    margin-top: 15px;
    padding: 0 15px;

    font-size: 14px;
    color: #999;
}

.blue {
    margin-top: 120px;
    margin-bottom: 120px;

    padding-top: 100px;
    padding-bottom: 100px;

    background-color: #E1ECF3;

    .subtitle {
        margin-bottom: 75px;
    }
}

.text-gray {
    color: #666;
    line-height: 24px;
}

.rodape-barra {
    margin-top: 80px;
    margin-bottom: 65px;
}

section.footer {
    @include view(mobile) {
        margin-top: 40px;
        border-top: 1px solid #DDDDDD;

        .title {
            padding: 0;
        }
    }


    .box-selos {
        img {
            display: inline-block;
            margin-top: 20px;
            &:first-child {
                margin-right: 30px;
            }
        }
    }
}
