html, body {
    font-family: "Lato";
}

@import "base";
@import "partials/_header-paywall";
@import "partials/_plans-details";
@import "partials/_timeline";
@import "partials/_buttons";
@import "bootstrap/_label";

section.produtos {
    @include background-responsive('bg.png', 'paywall');
    height: 2000px;
}

.box-plans {
    margin-top: -90px;

    padding: 55px;

    background-color: #fff;

    border-radius: 3px;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.formas-pagamento {
    margin-top: 40px;

    font-size: 14px;

    color: #999999;
}

.subtitle {
    font-size: 64px;
    font-weight: 900;

    color: #244670;

    text-shadow: 0 2px 2px #fff;
}

