@import "base";

@import "partials/_header-register";

.banner-responsive-register {
    @include background-responsive('bg-responsive-register.jpg', 'register');
    position: relative;

    min-height: 750px;

    padding-top: 75px;

    font-family: 'Lato', sans-serif;

    color: #fff;

    h1 {

        font-size: 71px;
        font-weight: 900;

        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    }

    h2 {
        margin-top: 15px;

        font-size: 32px;
        font-weight: 400;
        font-style: italic;

        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    }

    .box-iframe-login {
        background-color: #fff;
        padding: 30px;
    }

    .rodape-cima {
        position: absolute;
        bottom: 52px;
        width: 100%;
        height: 120px;
        padding-top: 49px;
        background-color: rgba(0, 0, 0, 0.5);

        font-size: 18px;
        font-weight: 400;

        text-align: center;

        a {
            display: inline-block;
            margin-left: 5px;

            color:#FF8A00;
            text-decoration: none;
        }

        .icon-check {
            @include hide-text;
            @include background-image('badge', 'register', 100%);

            width: 24px;
            height: 26px;

            margin-right: 5px;

            vertical-align: middle;

        }
    }

    .rodape-baixo {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 52px;
        background-color: rgba(31, 31, 31, 1);

        padding-top: 17px;

        font-size: 14px;

        color: #858585;

        text-align: center;
    }
}

.cadun-flow-container {
    height: 300px !important;
}


