.grid-container
    .grid-35.mobile-grid-100
        img(src="../../images/paywall/flip.png")

    .grid-65.mobile-grid-100
        h3  Assinantes Premium têm acesso ilimitado ao Jornal Digital
        a.btn.btn-premium.btn-width-medium.margin-top-30(href="#")  Assine o Premium
    
