.grid-container
    .grid-65
        h3  Assinantes Premium têm acesso ilimitado ao Jornal Digital
        a.btn.btn-premium.btn-width-medium.margin-top-30(href="#")  Assine o Premium
    .grid-35
        img(src="../../images/paywall/flip.png")
