.grid-100
    .box-gray
        .grid-container
            .grid-50
                img(src="../../images/paywall/clube.png")
            .grid-45.prefix-5
                h4  ASSINANTES PREMIUM TEM BENEFÍCIOS EXCLUSIVOS
                p.margin-top-10  O Clube O Globo Sou+Rio é o programa de relacionamento exclusivo para assinantes premium. Para aproveitar as ofertas, basta apresentar a carteirinha digital nos estabelecimentos parceiros ou trocar seus pontos por ofertas de cinemas, teatros, restaurantes entre outros. Aproveite!
