.grid-100
    .formas-pagamento.text-center
        span  Formas de pagamento
        i.icon-card.icon-visa
        i.icon-card.icon-mastercard
        i.icon-card.icon-dinersclub
        i.icon-card.icon-americanexpress
        i.icon-card.icon-bradesco
        i.icon-card.icon-itau
        i.icon-card.icon-hsbc
