header
    .topo
        .grid-container
            .grid-50
                a.logo.logo-oglobo(href="#")  O GLOBO
    
    .grid-container.header-title
        .grid-100
            h2 Olá, Bruno! Você atingiu o limite de matérias gratuitas por mês
        .grid-100
            h1 Assine e continue lendo O Globo
