header
    .topo
        .grid-container
            .grid-50.mobile-grid-100
                a.logo.logo-oglobo(href="#")  O GLOBO
    
    .grid-container.header-title
        .grid-100.mobile-grid-100
            h2 
                span.hide-on-mobile  Olá, Bruno! 
                span  Você atingiu o limite de matérias gratuitas 
                span.hide-on-mobile  por mês
        .grid-100.mobile-grid-100
            h1 Assine e continue lendo O Globo
