.grid-50
    .plan.plan-digital
        .grid-100
            .plan-image
        
        .grid-100
            .plan-title
                |  O GLOBO DIGITAL
        .grid-100
            .plan-price-old
                |  R$ 14,90
        .grid-100
            .plan-price
                span.price-giant 5
                .box-price-cents-time
                    span.price-cents ,90
                    span.price-time  /MÊS

                span.price-condition  nos 6 primeiros meses
        
        .grid-100
            ul.plan-items
                li  
                    i.icon.icon-checked
                    |  Site O Globo

                li  
                    i.icon.icon-checked
                    |  Aplicativo O Globo Notícias

                li  
                    i.icon.icon-checked
                    |  Acervo

                li  
                    i.icon.icon-checked
                    |  eBooks

                li  
                    i.icon.icon-checked
                    |  Clube O Globo Sou+Rio

                li  
                    i.icon-no-check
                    |  Jornal Digital

        .grid-100
            a.btn.btn-blue  Assine

.grid-50
    .plan.plan-premium
        .plan-image

        .plan-title
            |  O GLOBO DIGITAL PREMIUM

        .plan-price-old
            |  R$ 29,90

        .plan-price
            span.price-giant 14
            span.price-cents ,90
            span.price-time  /MÊS

            span.price-condition  nos 6 primeiros meses

        ul
            li  
                i.icon-check
                |  Site O Globo

            li  
                i.icon-check
                |  Aplicativo O Globo Notícias

            li  
                i.icon-check
                |  Acervo

            li  
                i.icon-check
                |  eBooks

            li  
                i.icon-check
                |  Clube O Globo Sou+Rio

            li  
                i.icon-no-check
                |  Jornal Digital
                i.icon-iphone
                i.icon-android

        .grid-100
            a.btn.btn-blue  Assine o Premium






