include partials/_mixins

doctype
html( lang="pt-br" )
    head
        title Paywall 2 ofertas
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Todos os componentes do Bootstrap em JADE' )
        
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,300italic,100,300' rel='stylesheet')
        link(href="../../styles/paywall.css", rel="stylesheet")
 
    body
        include partials/_header


        section.produtos
            .grid-container
                .box-plans.grid-100
                    include partials/_plans_details
                    include partials/_formas_pagamento


            include partials/_timeline

        section.banner-premium
            include partials/_banner_premium
            

        section
            .grid-container
                include partials/_box_sou_mais_rio

            
            .grid-container.grid-parent

                include partials/_depoimentos
            
        section.blue
            include partials/_comece_assinatura


        include partials/_footer

