//---------------------------------------------------------------------------
// Buttons
//---------------------------------------------------------------------------


.btn {
    display: inline-block;
    width: 100%;

    border-radius: 3px;

    text-align: center;

    font-size: 21px;

    &.btn-large {
        padding: 23px;
    }

    &.btn-blue {
        background-color: #00B9FF;

        color: #fff;

        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    &.btn-premium {
        background-color: #FFBC00;

        color: #244670;

        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    }

    &.btn-width-medium {
        width: 300px;
        padding-top: 23px;
        padding-bottom: 23px;
    }
}
