header {
    width: 100%;
    height: 52px;

    padding-top: 16px;

    background-color: #005e97;

    .logo {
        @include hide-text;
        @include background-image('logo-oglobo', 'register', 100%);

        width: 125px;
        height: 20px;
    }
}
