.plan {
    .plan-image {
        width: 400px;
        height: 240px;

        @include view (mobile) {
            width: 160px;
            height: 96px;

            margin-top: 15px;
        }
    }

    .plan-title {
        margin-top: 20px;

        font-size: 30px;

        @include view (mobile) {
            font-size: 21px;
        }
    }

    .plan-price-old {
        margin-top: 20px;

        font-size: 18px;
        font-weight: 300;

        color: #000;

        text-decoration: line-through;

        @include view (mobile) {
            margin-top: 15px;
        }
    }

    .plan-price {
        color: #244670;

        .price-giant {
            float: left;
            font-size: 72px;
            font-weight: 900;
        }

        .box-price-cents-time {
            float: left;
            width: 50px;

            padding-top: 8px;

            .price-cents {
                font-size: 36px;
                font-weight: 900;
            }
        }

        .price-condition {
            float: left;
            margin-top: 50px;
            margin-left: 10px;


            font-size: 16px;
            font-weight: 300;

            font-style: italic;

            color: #000;

            @include view (mobile) {
                margin-left: 0;
                margin-top: 20px;
                font-size: 14px;
                color: #999;
                font-weight: 400;
            }
        }
    }

    .plan-items {
        margin-top: 25px;
        list-style: none;

        font-size: 16px;
        color: #373A3C;

        @include view (mobile) {
            margin-top: 0;
        }

        li {
            height: 50px;

            padding: 14px;
            border-top: 1px solid #ECEEEF;
        }
    }

    &.plan-digital {
        .plan-image {
            @include background-image('pack-digital', 'paywall', 100%);
        }

        .plan-title {
            color: #1FAAFF;
        }
    }

    &.plan-premium {
        .plan-image {
            @include background-image('pack-digital-premium', 'paywall', 100%);
        }

        .plan-title {
            color: #FFBC00;
        }
    }

    @include view (mobile) {
        background-color: #fff;
    }
}

.box-detalhes {
    float: left;
    margin-top: 15px;

    background-color: #F5F5F5;

    padding: 0 15px 15px;

    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    &.closed {
        background-image: linear-gradient(-180deg, #F5F5F5 0%, #FFFFFF 50%);
    }
}

.btn-detalhes-plano {
    display: inline-block;
    width: 100%;

    padding: 14px;

    background-image: linear-gradient(0deg, #F5F5F5 0%, #FFFFFF 50%);

    color: #000;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    cursor: pointer;
}
