.plan {
    .plan-image {
        width: 400px;
        height: 240px;
    }

    .plan-title {
        margin-top: 20px;

        font-size: 30px;
    }

    .plan-price-old {
        margin-top: 20px;

        font-size: 18px;
        font-weight: 300;

        color: #000;

        text-decoration: line-through;
    }

    .plan-price {
        color: #244670;

        .price-giant {
            float: left;
            font-size: 72px;
            font-weight: 900;
        }

        .box-price-cents-time {
            float: left;
            width: 50px;

            padding-top: 8px;

            .price-cents {
                font-size: 36px;
                font-weight: 900;
            }
        }

        .price-condition {
            float: left;
            margin-top: 50px;
            margin-left: 10px;


            font-size: 16px;
            font-weight: 300;

            font-style: italic;

            color: #000;
        }
    }

    .plan-items {
        margin-top: 25px;
        list-style: none;

        font-size: 16px;
        color: #373A3C;

        li {
            height: 50px;

            padding: 14px;
            border-top: 1px solid #ECEEEF;
        }
    }

    [class^="icon-"],
    [class*=" icon-"] {
        margin-right: 12px;
    }

    &.plan-digital {
        .plan-image {
            @include background-image('pack-digital', 'paywall', 100%);
        }

        .plan-title {
            color: #1FAAFF;
        }
    }

    &.plan-premium {
        .plan-image {
            @include background-image('pack-digital-premium', 'paywall', 100%);
        }

        .plan-title {
            color: #FFBC00;
        }
    }
}
