footer.rodape
    p 
        strong IMPORTANTE:
        |  Para ter acesso ao Pacote Digital é preciso ser cadastrado ou criar um cadastro na Globo.com. 
    p  Promoção não cumulativa. Conheça requisitos mínimos e disponibilidade por equipamentos em:
        a(href="#").txt-underline  www.oglobo.com.br/edicoesdigitais
        |  ou
        a(href="#").txt-underline  www.oglobo.globo.com/faq-tablet