doctype
html( lang="pt-br" )
    head
        title Register
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Todos os componentes do Bootstrap em JADE' )
        
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,300italic,100' rel='stylesheet')
        link(href="../../styles/register.css", rel="stylesheet")
 
    body
        .banner-responsive-register
            include partials/_header
            .grid-container.box-text-iframe
                .grid-60.landscape-grid-100.portrait-grid-100.mobile-grid-50
                    h1 Continue lendo O Globo
                    h2 Faça seu login ou cadastre-se
                .grid-40.landscape-grid-100.portrait-grid-100.mobile-grid-50
                    .box-iframe-login
                        iframe(width='400', height='380', scrolling='yes', frameborder='no', src='https://login.globo.com/login/4975?url=http://oglobo.globo.com')
            .rodape-cima
                p
                    i.icon-check.inline-block  
                    |  Quer ter acesso ilimitado a todos os produtos digitais do Globo? 
                    a(href="#") 
                        strong Experimente 1 mês grátis  
                    span.arrow  
                        strong › 
            .rodape-baixo
                p  Dúvidas? Ligue 
                    strong 4002-5300 
                    |  (capitais e grandes cidades) ou 
                    strong 0800 021 8433 
                    |  (demais localidades).
