doctype
html( lang="pt-br" )
    head
        title Register
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Todos os componentes do Bootstrap em JADE' )
        
        // chamada para estilo do Bootstrap
        link(href="../../styles/register.css", rel="stylesheet")
 
    body
        .grid-container
            .grid-50.landscape-grid-100.portrait-grid-100.mobile-grid-50
                p Opaaaa
            .grid-50.landscape-grid-100.portrait-grid-100.mobile-grid-50
                p Testando
