include partials/_mixins

doctype
html( lang="pt-br" )
    head
        title Paywall 2 ofertas
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Todos os componentes do Bootstrap em JADE' )
        
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,300italic,100,300' rel='stylesheet')
        link(href="../../styles/paywall.css", rel="stylesheet")
 
    body
        include partials/_header


        section.produtos
            .grid-container
                .box-plans.grid-100
                    include partials/_plans_details
                    include partials/_formas_pagamento


            include partials/_timeline

        section.banner-premium
            .grid-container
                .grid-65
                    h3  Assinantes Premium têm acesso ilimitado ao Jornal Digital
                    a.btn.btn-premium.btn-width-medium.margin-top-30(href="#")  Assine o Premium
                .grid-35
                    img(src="../../images/paywall/flip.png")

        section
            .grid-container
                .grid-100
                    .box-gray
                        .grid-container
                            .grid-50
                                img(src="../../images/paywall/clube.png")
                            .grid-45.prefix-5
                                h4  ASSINANTES PREMIUM TEM BENEFÍCIOS EXCLUSIVOS
                                p.margin-top-10  O Clube O Globo Sou+Rio é o programa de relacionamento exclusivo para assinantes premium. Para aproveitar as ofertas, basta apresentar a carteirinha digital nos estabelecimentos parceiros ou trocar seus pontos por ofertas de cinemas, teatros, restaurantes entre outros. Aproveite!

            
            .grid-container.grid-parent

                .grid-100
                    span.title  DEPOIMENTOS
                
                .grid-container
                    .grid-75.grid-alpha
                        .depoimento-grande  “Adoro! Fico sabendo de forma rápida os últimos acontecimentos.“

                        .depoimento-origem  - GOOGLE PLAY

                    .grid-25.grid-parent
                        .depoimento-pequeno  “É sempre bom poder estar por dentro de tudo que acontece.”

                        .depoimento-origem  —  GOOGLE PLAY
                .grid-container.grid-parent
                    .grid-25.margin-top-30.grid-parent
                        .depoimento-pequeno  “É a minha principal fonte de informações. Recomendo!“

                        .depoimento-origem  - APPLE APP STORE

                    .grid-75.margin-top-30
                        .depoimento-grande  “Gosto muito! Adoro poder ler o jornal em qualquer parte do mundo.”

                        .depoimento-origem  —  APPLE APP STORE
            
        section.blue
            .grid-container
                .grid-100
                    h2.subtitle.text-center
                        |  Comece agora sua assinatura
                .grid-100
                    +plan_details(false)


        section
            .grid-container
                .grid-100.margin-bottom-20
                    span.title  DÚVIDAS?
                .grid-100.margin-bottom-10
                    span  Central de Relacionamento
                .grid-100
                    span.telefones
                        strong 4002-5300
                        |  (capitais e grandes cidades)

                .grid-100
                    span.telefones
                        strong 0800 021 8433
                        |  (demais localidades)

                .grid-100

