doctype
html( lang="pt-br" )
    head
        title Experimente Erro
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        
        // chamada para estilo do Bootstrap
        link(href="../../styles/fluxos.css", rel="stylesheet")
        //- script(src="../../scripts/main.min.js")
 
    body
        include partials/_header

        section.fluxo-erros

            h1.titles.red
                |  IDENTIFICAMOS UMA FALHA DE SEGURANÇA NO SEU ACESSO

            p.text-fluxos  Por favor, entre em contato através do 
                a(href="")  Portal do Assinante 
                |  ou ligue para <br>
                a(href="tel:4002-5300")  4002-5300 
                |  (capitais e grandes cidades) ou <br> 
                a(href="tel:0800-021-8433")  0800-021-8433 
                |  (demais locais).
            
